# Arquivo .gitignore para projetos Python

# Ambientes Virtuais
/venv
/env
/virtual
/.venv
/.env


# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
**/*.pyc
**/*.pyo
**/*.pyd


# Arquivos de Banco de Dados Locais
database/
*.db
*.sqlite
*.sqlite3
config.json

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

app.py
*.log
m_requirements.txt
# I don't know about this past -> /config
